.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sc-ion-searchbar-md-h {
    --background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.07);
    --border-radius: 10px;
    --box-shadow: none;
    --cancel-button-color: var(--ion-color-primary, #3880ff);
    --clear-button-color: var(--ion-color-step-600, #666666);
    --color: var(--ion-text-color, #000);
    --icon-color: var(--ion-color-step-600, #666666);
    -webkit-padding-start: 12px;
    padding-inline-start: 12px;
    -webkit-padding-end: 12px;
    padding-inline-end: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    min-height: 60px;
    contain: content;
}

.padding-arrow {
    padding-top: 9px;
}

.search-bar {
    width: 330px;
}

.left-arrow {
    width: 42px;
    height: 42px;
    background-color: #00A5CF;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.left-arrow  ion-icon {
    font-size: 24px;
}

.icon-account {
    background-color: #00A5CF;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-right: 12px;
}

.icon-account ion-icon {
    font-size: 24px;
}