.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.padding-arrow {
    padding-top: 9px;
}

.search-bar {
    width: 330px;
    padding: auto;
}

.left-arrow {
    width: 42px;
    height: 42px;
    background-color: #00A5CF;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.left-arrow  ion-icon {
    font-size: 24px;
}

.icon-account {
    background-color: #00A5CF;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-right: 12px;
}

.icon-account ion-icon {
    font-size: 24px;
}